[MASTER]
disable=
    C0114, # missing-module-docstring
    W1203, # we are using f string interpolation in logging but for more optimization we can refer to https://stackoverflow.com/questions/34619790/pylint-message-logging-format-interpolation
    C0116, # Missing function or method docstring
